.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 1px solid hsl(240, 3%, 46%);
}

.restart__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 0.75rem;
  border-radius: 10px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 15%);
  transition: background-color 0.2s;
  cursor: pointer;
}

.restart__btn img {
  width: 1.1em;
  height: 1.1em;
}

.restart__btn:hover {
  background-color: hsl(0, 0%, 25%);
}

.restart__btn:hover img {
  transform: rotate(-360deg);
  transition: transform 0.7s;
}
