/* DESKTOP FIRST PRE-DEFINED MEDIA QUERIES */
/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

.container {
  max-width: 1536px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.btn,
input {
  font-family: inherit;
}

.deco {
  position: absolute;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  border-bottom: 2px solid red;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

